{% extends 'news_api/home.html' %}
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for business_list in articles %}

                    <div class="card rounded shadow m-1" style="width: 50rem;">
                        <img src="{{ business_list.urlToImage }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">{{ business_list.author }}</p>
                        <h5 class="card-title">{{ business_list.title }}</h5>
                        <p class="card-title">{{ business_list.source.name }}</p>
                        <p class="card-text">{{ business_list.description }}</p>
                        <hr>
                        <small>date: {{ i.publishedAt }}</small>
                        <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
                    </div>

                  {% endfor %}
            </div>
        </div>
    </div>

    
</body>
</html>