{% load static %}
<style>
	.hello-msg{
	  font-size: 18px;
	  color: rgb(19, 8, 8);
	  margin-right: 20px;
	}
  </style>

<style>
	.navbar{
	  border: 5px solid black;
	}
  </style>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <img src="{{request.user.profile.profile_pic.url}}" height= 30, width = 30>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
  
	<span class="hello-msg">Hello, {{request.user}}</span>
	<span> <a  class="hello-msg" href="{% url 'home' %}">Home</a></span>
	<span> <a  class="hello-msg" href="{% url 'profile' %}">Profile</a></span>
	<span ><a  class="hello-msg" href="{% url 'logout' %}" >Logout</a></span>

	<form class="d-flex" method="GET" action="{% url 'profile-search' %}" src = "{{request.profile}}">
		<div class="input-group">
		  <span class="input-group-text" id="basic-addon1">@</span>
		  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
		  <button type="submit" value="Search"> SearchUser</button>
		</div>
	</form>
	
	<h2>Search</h2>

    <form action="" method="get">
        <input type="text" name="keyword">
        <button type="submit" value="Search">Search </button>
    </form>
  
  </nav>
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<hr>
			<h3 style="text-align: center">Profile</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.profile.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-3">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
			<div class="d-flex justify-content-center links">
				Change password? <a href="{% url 'reset_password' %}" class="ml-2">Reset password</a>
				<br>
			</div>
		</div>
	</div>


	<div class="col-md-9">
		<h3><b>Category</b></h3>
		<ul class="list-group">
			<li class="list-group-item"><a class="btn btn-primary" href="{% url 'technology' %}?category=technology">Technology</a></li>
			<li class="list-group-item"><a class="btn btn-primary" href="{% url 'health' %}?category=health">Health</a></li>
			<li class="list-group-item"><a class="btn btn-primary" href="{% url 'entertainment' %}?category=Entertainment">Entertainment</a></li>
			<li class="list-group-item"><a class="btn btn-primary" href="{% url 'sports' %}?category=Sports">Sports</a></li>
			<li class="list-group-item"><a class="btn btn-primary" href="{% url 'science' %}?category=Science">Science</a></li>
			<li class="list-group-item"><a class="btn btn-primary" href="{% url 'business' %}?category=Business">Business</a></li>
			<li class="list-group-item"><a class="btn btn-primary" href="{% url 'general' %}?category=General">General</a></li>

		</ul>
	</div>
</div>



{% endblock %}