<style>
	.hello-msg{
	  font-size: 18px;
	  color: rgb(19, 8, 8);
	  margin-right: 20px;
	}
  </style>

<style>
	.navbar{
	  border: 5px solid black;
	}
  </style>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <img src="{{request.user.profile.profile_pic.url}}" height= 30, width = 30>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
  
	<span class="hello-msg">Hello, {{request.user}}</span>
	<span> <a  class="hello-msg" href="{% url 'home' %}">Home</a></span>
	<span> <a  class="hello-msg" href="{% url 'profile' %}">Profile</a></span>
	<span ><a  class="hello-msg" href="{% url 'logout' %}" >Logout</a></span>
  </nav>

{% block content %}
<div class="container">
    {% for profile in profile_list %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <p><img class="profile-pic" src="{{request.user.profile.profile_pic.url}}" >
				<br>
				<a style="text-decoration: none;" class="text-primary" href="{% url 'profile' %}">@{{ profile.user }}</a> </p>
            </div>
			<div class="mb-3">
				<p>Followers: {{ number_of_followers }}</p>
				{% if user == request.user %}
				{% else %}
				{% if is_following %}
				<form method="POST" action="{% url 'remove-follower' profile.pk %}">
						{% csrf_token %}
						<button class="btn btn-outline-danger" type="submit">Unfollow</button>
					</form>
				{% else %}
					<form method="POST" action="{% url 'add-follower' profile.pk %}">
						{% csrf_token %}
						<button class="btn btn-outline-success" type="submit">Follow</button>
					</form>
				{% endif %}
				{% endif %}
			</div>
        </div>
    {% endfor %}
</div>
{% endblock content %}